body,
html {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.text-primary {
    color: teal;
}

.logo {
    float: left !important;
}


/* info */

.info {
    z-index: 1;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    top: 0;
}


/* navigation */

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 40px;
}

.nav ul {
    margin: 0;
    padding: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    width: 100%;
}

.nav a {
    text-align: center;
    display: block;
    padding: 16px 18px;
    color: white;
}

.nav ul li {
    float: right;
}

.nav ul li a:hover:not(.active) {
    color: tomato;
    background-color: rgba(255, 255, 255, .3);
    text-decoration: 0;
    box-decoration-break: clone;
}


/* landing */

.bagr-pg {
    background-image: url("../IMAGE/img1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.display {
    font-size: 2rem;
    line-height: 1;
    color: gold;
    margin-bottom: 30px;
    margin-top: -100px;
}

.bg {
    background-image: url("../image/img1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    text-transform: uppercase;
}

.footer {
    background-color: #333;
    padding: 15px;
    color: white;
    margin-top: 15px;
}

.inner-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menufo a {
    font-size: medium;
    padding: 0px;
    color: white;
    list-style-type: circle;
}

.section-0 {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 20px;
    border-radius: 15px;
    height: calc(100% - 175px);
}

.section-1 {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.section-0-marg {
    margin: -15px 15px 15px 15px;
}

.section-1-marg {
    margin: 120px 15px 15px 15px;
}

#texteenreg {
    text-align: center;
}

.section-4 {
    margin: 4%;
    text-align: left;
    text-align: justify;
}

.display1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: white;
}

.header {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

#mailtext {
    color: blue;
}

.input-group1 {
    width: 150%;
}

.input-text1 {
    display: block;
    width: 90%;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 120px;
}

.inline {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.wid-alite {
    width: 98%;
    text-align: center;
}